<br>
<a routerLink="/demo/bindings">Bindings</a>
<br>
<a routerLink="/demo/pipes">Pipes</a>
<br>
<a routerLink="/demo/component-directive">Component Directives</a>
<br>
<a routerLink="/demo/structural-directive">Structural Directives</a>
<br>
<a routerLink="/demo/custom-directive">Custom Directives</a>
<br>
<a routerLink="/demo/input-output">Input Output</a>
<br>
<a routerLink="/demo/services">Services</a>
<br>
<a routerLink="/demo/formulaires">formulaires</a>
<br>
<a routerLink="/demo/forms">Forms Review</a>


<router-outlet></router-outlet>
